*,*::before,*::after
{
padding: 0;
margin: 0;
box-sizing: border-box;
color: #000000;
text-decoration: none;
font-family: 'Inter', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,body
{
    min-height: 100%;
    background: #F9F8F8;
    
}
/* для контейнера с большой картинкой */
h1
{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
/* для названий секций */
h2
{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px; 
    margin-bottom: 35px;
    gap: 0px;
}
/* для названия категорий в каталоге */
h3
{
    font-weight: 500;
    font-size: 22px;
    line-height: 27px; 
    
}
/* в основном для названий товаров в карточках */
h4
{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

/* для полей  поиска */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="search"]{background: none;border: none;box-shadow: none; }

.wrapper
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header
{
    width: 100%;
    background-color:#CAD3F2;
}
main
{
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
}
a
{
    transition: all 0.3s ease-out;
}
a.btn, a.btn:hover, a.btn:active
{
    text-decoration: none;
    
}
a.btn
{
    display: inline-block;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 5px;
    transition: all 0.4s ease-out;
}
a.btn:hover
{
    background: #000000;color: #ffffff;
}
a.btn:active
{

}
.on_big_picture_container
{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding: 15px 35px;
}
.on_review
{
    padding: 5px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.view_all_reviews
{
    padding: 15px 25px;
    width: 350px;
    text-align: center; 
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.subscribe
{
    padding: 10px 20px;
    font-weight: 400;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
}


/* Header */
.header-content
{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    align-items: center;
}
.header-logo
{
    width: 100px;
}
.header-menu-container
{
    display: flex;
    gap:25px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.header-menu-container img
{
    height: 26px;
    width: 26px;
}
.header-menu-container img:hover
{
    /* доработать */
box-shadow: #000000;
}
a
{
    text-decoration: underline 2px solid #00000000;
    
}
a:hover
{
    text-decoration: underline 2px solid #000000;
}
.header-border-container
{
    border: 2px solid #000000;
    border-right: 0;
    border-left: 0;
    width: 100%;
    
}
.header-menu
{
    display: flex;
    gap: 35px;
    margin-left: 0;
    padding-left: 0; 
    list-style-type: none;
}
.header-menu li a
{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.header-search
{
    width: 320px;
    height: 44px;
    padding: 10px 20px;
    display: flex;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    gap: 15px;
    align-items: center;
    /* overflow: scroll;  для пролистывания отдельно элементов в контейнере*/
}
.header-search_input
{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.header-search_input:focus
{
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.header-search_input::placeholder
{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}


.text-field_acticon
{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: #212529;
}

/* Main */
/* Подвигать картинку */
.big-picture-on-bg_section
{
    background: center/cover url(img/png/big_soda_bottle_image.png) no-repeat ;
    height: 750px;
    padding: 150px 0px;
    border-bottom: #000000 1px solid;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.big-picture_content
{
    
    display: flex;
    width: 1170px;
    flex-direction: column;
    gap: 35px;
}
.big-picture_text-container
{
    padding: 20px 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 430px;
}






.catalog_section
{
    margin: 0 auto;
    width: 1170px;
    /* Зачем там боковые отступы то лол */
    padding: 35px 15px  50px;
}
.catalog_container
{
    display: grid;
    grid-template-columns: 320px 850px;
}
.catalog_categories-selection_chechox_container
{
    width: 100%;
    margin-top: 47px;
}
.catalog_categories-selection_chechox_container > div
{
    background: #ffffff;
    border: #000000 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 20px;
    gap: 15px;
    border-radius: 10px;
}
.categories-selection_checkbox_item
{
    display: flex;
    gap: 15px;

}
.categories-selection_checkbox_item h4
{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.catalog-categories_container
{
    padding: 0 25px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.catalog-catigories_container_item
{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.category-products_container
{
    width: 100%;
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
}
.product_card
{
    width: 250px;
    height: 360px;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 170px 1fr;
}
.product_card_picture_container
{
    border-bottom: 1px solid #000000;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_card_picture_container img
{
    height: 140px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.category_lemonade
{
    background: #9C78C3;
}
.category_tonic_water
{
    background: #849AE8;
}

.product_card_content
{
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.product_card_content h4
{
    height: 48px;
}
.product_card_content a
{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.vol-price_container{
    display: flex;
    justify-content: space-between;
}
.vol_container
{
    display: flex;
    gap: 5px;
    align-items: center;
}
.vol-price_container p 
{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.with_borders
{
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}



.our-benefits_section
{
    width: 1100px;
    margin: 0 auto;
}
.benefits_container
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 40px;
    column-gap: 40px;
}
.benefits_container > div
{
   
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}
.benefits_container > div p
{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    height: 60px;
}
.benefits_container > div img
{
    height: 75px;
    width: 75px;
}
.reviews_section
{
    padding: 50px 0;
    margin: 0 auto;
    width: 1100px;
    display: flex;
    flex-direction: column;
}

.reviews_container
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
    margin-bottom: 35px;
}
.review
{
    width: 350px;
    height: 228px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.srars_container
{
    display: flex;
    gap: 10px;
}
.srars_container img
{
    width: 20px;
    height: 20px;
}
.review p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.avatar-name_more-btn_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar-name_container
{
    display: flex;
    gap: 15px;
    
}
.avatar-name_container img
{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.name-surname_container
{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
p.review-text
{
    width: 285px;
    height: 76px;
    display: inline-block;
}

.subscribe-to-us_section
{
    margin: 0 auto;
    width: 1100px;
}
.subscribe_form
{
    width: 500px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}
.subscribe_form h2
{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}
.subscribe-e-mail_input
{
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 45px;
    margin-bottom: 25px;
    border: 1px solid #000000;
}
.subscribe-e-mail_input::placeholder
{
    color: rgba(0, 0, 0, 0.5);
}
p.mini-text
{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.8);
}
.contacts_section
{
    padding: 50px 10px;
    max-width: 1100px;
    margin: 0 auto;

}
.map_container
{
    height: 750px;
    width: 100%;
    border-radius: 10px;
    border:1px solid #000;
    border-bottom: 1px solid #000000;
    position: relative;
}
.contacts_container
{
    position: absolute;
    transform: translate(220%,-120%);
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 25px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
}
.contacts_row
{
    display: flex;
    gap:15px;
}
.contacts_row h4
{
    font-weight: 500;
}
/* footer */
footer
{
background-color: #CAD3F2;
width: 100%;

}

.footer-content
{
    margin: 0 auto;
    width: 1200px;
}
.footer-content.logo-contacts
{
    
    padding-top: 15px;
    padding-bottom:35px;
}
.footer-menu
{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0; 
    list-style-type: none;
}
.footer-menu li a
{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.footer-border_container{
    width: 100%;
    border: 1px solid #000000;
    border-left: none;
    border-right: none;
    padding: 15px;
}
.footer-content.made-by
{
   padding: 15px;
   text-align: center;
}
.author_text
{
    font-weight: 400;
font-size: 14px;
line-height: 17px;
color: rgba(0, 0, 0, 0.3);
}